{
   margin:0;
   padding:0;
   font-family:'Poppins',serif;
   box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	background: #080808;
	color: #fff;
}

#header {
	width: 100%;
	height:100vh ;
	background-image: url("https://images8.alphacoders.com/114/1144793.jpg");
	background-position: center;
	background-size: cover;
}
.contain{
	padding: 0px;
}

.container{
	padding: 10px 10%;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.logo{
	width: 180px;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a{
	color: #ffffff;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}
nav ul li a::after{
	content: '';
	width: 0;
	height: 3px;
	background: #d6799e;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}
nav ul li a:hover::after{
	width: 100%;
}

.header-text{
	margin-top: 20%;
	font-family: Comfortaa;
	font-size: 22px;
}
.header-text h1{
	font-family: EB Garamond;
	font-size: 60px;
	margin-top: 20px;
}

.header-text h1 span{
	color:#d6799e }

#bio{
	padding: 80px 0;
	color: #DCAE96;
	font-family: Comfortaa ;
	font-size: 18px;
	line-height: 1.4;
}
.row{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.about-col-1{
	flex-basis: 35%;
}

.about-col-1 img{
	width: 100%;
	border-radius: 15px;
}

.about-col-2{
	flex-basis: 60%;
}

.sub-heading{
	font-family: EB Garamond ;
	font-size: 120 px;
	font-weight: 600;
	color: #fff;
}
.tab-titles{
	display: flex;
	margin: 20px 0 40px;
}
.tab-links{
	margin-right: 50px;
	font-family: EB garamond;
	font-size: 23px;
	font-weight: 500;
   color: #fff;
	cursor: pointer;
	position: relative;
}
.tab-links::after{
	content: '';
	width: 0;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.4s;

}

.tab-links.active-link::after{
	width: 60%;
}
.tab-content ul li{
	list-style: none;
	width: 50%;
	align-items: center;
	color: #ffc0cb;
	font-size: 20px;
}
.tab-content ul li a{
	text-decoration: none;
	color: #ffc0cb;
}

.tab-content i{
   margin-right: 15px;
   font-size: 20px;
   color: ##5DF15D;
}

.tab-content{
	display: none;
	color: #ffc0cb;
}

.tab-content.active-tab{
	display: block;
}

.tab-content img{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
#services{
	padding: 30px 0;
}           

.services-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.services-list div{
	background:#262626;
	padding: 40px;
	font-size: 13px;
	font-weight: 300;
	border-radius: 10px;
	transition: background 0.5s,transform 0.5s;
}
.services-list div i{
	font-size: 50px;
	margin-bottom: 30px;
}
.services-list div h2{
	font-size: 30px;
	font-weight: 15 px;
	margin-bottom: 15px;
}
.services-list div a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}
.services-list div:hover{
	background: #ff004f;
	transition: translateY(-10px);
}

.left{
	flex-basis: 35%;
}
.right{
	flex-basis: 60%;
}
.left p{
	margin-top: 30px;
}
.left p i{
	color: #ff004f;
	margin-right: 15px;
	font-size: 25px;
}
.icons{
	margin-top: 30px;
}
.icons a{
	text-decoration: none;
	font-size: 30px;
	margin-right: 15px;
	color: #ababab;
	display: inline-block;
	transition: trannsform(0.5s);
}
.icons a:hover{
	color: #ff004f;
	transform: translateY(-5px);
}
.btn{
	display: block;
	margin: 50px auto;
	border: 1px solid #ff004f;
	width: fit-content;
	padding: 14px 50px;
	border-radius: 6px;
	text-decoration: none;
	color: #fff;
}
.btn.btn2{
	display: inline-block;
	background: #ff004f;
}
.right form{
	width: 100%;
}
form input,form textarea{
	width: 100%;
	border: 0;
	outline: none;
	background: #262626;
	padding: 15px;
	margin: 15px 0;
	color: #fff;
	font-size: 18px;
	font-family: Comfortaa;
	border-radius: 6px;
}

form .btn2{
	padding: 14px 60px;
    font-size: 18px;
    font-family: EB Garamond;
    margin-top: 20px;
    cursor: pointer;
}
nav .fa-solid{
	display: none;
}
/* responsive stuff here */
@media only screen and (max-width: 600px) {
	#header{
		background-image: url("https://raw.githubusercontent.com/Ninivianne/Ninivianne.github.io/main/image/Zhongli.png");
      background-size: cover;
    	}
	.header-text{
		margin-top: 100%;
		font-size: 16px;
		max-width: 360px auto;	}
	.header-text h1{
       font-size: 30px;
	}
	nav .fa-solid{
		display: block;
		font-size: 25px;
		padding: 25px;
	}
	nav ul{
		background: #ff004f;
		position: fixed;
		top: -10px;
		right: -240px;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2;
		transition: 0.5s;
	}
   nav ul li{
   	display: block;
   	margin: 25px;
   }
   nav ul .fa-solid{
   	position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
      padding: 0px;
   }
   .about-col-1,.about-col-2{
   	flex-basis: 100%;
   }
   .about-col-1{
   	margin-bottom: 30px;
   }
   .about-col-2{
   	font-size: 16px;
   }
   .sub-heading{
   	text-align: center ;
   }
   .tab-links{
   	font-size: 25px;
   	margin-right: 20px;
   }
   .left,.right{
   	flex-basis: 100%;
   }

}
#msg{
	color: #61b752;
	margin-top: -40px;
	display: block;
}
















            



















